/* vista singolo articolo */



:root{

    --colere-primario:#2ecc71;
    --colore-secondario: #2c3e50;
    --colore-terziario:#e67e22;


}





.carousel-inner img {
    
    object-fit: cover; 
}

/* Stile per il nome venditore */
.vendor-name {
    font-size: 14px;  
    color: #6c757d;   
    font-weight: normal; 
}

/* Stile per il titolo (h1) */
.prodotto h1 {
    font-size: 32px;
    color:var(--colore-terziario);   
    font-weight: bold; 
}

/* Stile per la descrizione (paragrafo) */
.prodotto p {
    color: #000000; 
    font-size: 16px;  
    line-height: 1.5; 
    max-height: 500px;
    
}

/* Stile per il prezzo */
.prodotto .price {
    font-size: 25px; 
    color:var(--colore-terziario);  
    font-weight: bold; 
    margin-top: 10px;  
}